
h2{
	text-align: center;
}

.ajustes{
	text-align: left;
}

.contenedor{
	margin: 10px;
	padding: 10px;
}

.canvas-style{

}

.inputs{
	margin-top: 30px;
	text-align: center;
}

.botones{
	margin-top: 50px;
	text-align: center;
}

.fondo{
	background-color: #f2f2f2;
}

.start{
	margin-top: 70px;
	text-align: center;
}