
h2{
	text-align: center;
}

.ajustes{
	text-align: left;
}

.contenedor{
	margin: 10px;
	padding: 10px;
}

.canvas-style{

}

.inputs{
	margin-top: 30px;
	text-align: center;
}

.botones{
	margin-top: 50px;
	text-align: center;
}

.fondo{
	background-color: #f2f2f2;
}

table {
    /*border: 2px solid #000;*/
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
 }
